<h1><% @places.each do |place| %></h1>

<% if false %>
# This is a comment
# Nomster L12 
# http://railscasts.com/episodes/51-will-paginate-revised?view=asciicast
# https://github.com/mislav/will_paginate
# render page links in the view:
# or, use an explicit "per page" limit:
# Post.paginate(page: params[:page], per_page: 3)

# render page links in the view:
<% end %>


<%= will_paginate @places, previous_label: h("<"), next_label: h(">") %>

<% for place in @places %>
  
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br />
    <p><%= place.description %></p><br />
    
    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  </div>

<% end %>
<% end %>


